* {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.video-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.quiz-type-container {
  display: flex;
  margin-top: 1rem;
}

.quiz-type-container button {
  width: 6rem;
  height: 4rem;
  margin-right: 1rem;
  background-color: rgb(154, 154, 219);
  color: rgb(255, 106, 135);
}

.lesson-list-container {
  display: flex;
  flex-direction: column;
}

.lesson-list-container .btnGoToLesson {
  width: 6rem;
  height: 4rem;
  background-color: rgb(154, 154, 219);
  margin: 0.5rem 1rem;
}

.lesson-list-container .btnGoToLesson a {
  text-decoration: none;
  color: rgb(255, 106, 135);
  font-size: 16px;
}

.session-list-container {
  display: flex;
  flex-direction: column;
}

.session-list-container .btnGoToSession {
  width: 6rem;
  height: 4rem;
  margin: 0.5rem 1rem;
  background-color: rgb(154, 154, 219);
  color: rgb(255, 106, 135);
}
